@import url("https://fonts.googleapis.com/css2?family=Lato&family=Mulish:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:wght@700&display=swap");

:root {
  --primary: #7a40f2;
  --primary-light: #e0d1ff;
  --primary-dark: #5228a6;
  --light: #edeef4;
  --gray: #9897ad;

  --border-radius-default: 24px;
  --border-radius-extra: 22px;

  --dark: #242424;

  --default-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --warning: #f4c427;
  --warning-dark: #b98d1d99;

  --danger: #ff9060;
  --danger-dark: #cc5826;

  --info: #3acbe9;
  --info-dark: #1c90a7;

  --bg-default: #f5f5f5;
  --bg-main: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Mulish", Arial, sans-serif;
  font-size: 16px;
  background: var(--bg-main);
}

.logo {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  padding: 2em 2em 2em 10em;
}

.nav-container ul {
  display: flex;
  align-items: center;
}

.nav-container ul li {
  padding: 5px 10px;
}

.dropdown {
  display: flex;
  align-items: center;
  padding: 14px 9px;
  background: var(--light);
  border-radius: 11px;
  font-size: 0.875rem;
  height: 40px;
  gap: 4em;
  justify-content: space-between;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-details {
  letter-spacing: 0.6942;
  line-height: 24px;
}

.nav-container header {
  display: flex;
  justify-content: space-between;
}

.main-container {
  padding-left: 170px;
  padding-right: 20px;
  min-width: 100%;
  display: flex;
  gap: 25px;
}

.side-nav-container {
  position: fixed;
  top: 1em;
  width: 118px;
  background-color: var(--primary);
  max-width: 118px;
  max-height: 95vh;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 1em;
  border-radius: var(--border-radius-default);
  padding: 1.2em 0;
}

.side-nav-container * {
  color: #ffffff;
}

.side-nav-container nav {
  position: relative;
}

.side-nav-container ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1.2em;
}

.side-nav-container ul li {
  z-index: 20;
  width: 100%;
  text-align: center;
}

.side-nav-container ul li a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.side-nav-container ul li.side-nav-item-active {
  opacity: 1;
}

.side-nav-container ul li.side-nav-item-active svg path {
  fill: var(--primary);
}

.side-nav-container ul li.side-nav-item-bubble {
  position: absolute;
  right: 0;
  background-color: var(--bg-main);
  width: 80%;
  height: 55px;
  border-top-left-radius: var(--border-radius-default);
  border-bottom-left-radius: var(--border-radius-default);
  z-index: 10;
  width: 75%;
}

.side-nav-container
  ul
  li.side-nav-item-active:nth-child(1)
  ~ .side-nav-item-bubble {
  top: 0%;
  opacity: 1;
}

.side-nav-container
  ul
  li.side-nav-item-active:nth-child(2)
  ~ .side-nav-item-bubble {
  top: 14.5%;
  opacity: 1;
}

.side-nav-container
  ul
  li.side-nav-item-active:nth-child(2)
  ~ .side-nav-item-bubble::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: -30px;
  border-bottom-right-radius: var(--border-radius-default);
  box-shadow: 11px 10px 1px 7px var(--bg-main);
}

.side-nav-container
  ul
  li.side-nav-item-active:nth-child(2)
  ~ .side-nav-item-bubble::before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  bottom: -30px;
  border-top-right-radius: var(--border-radius-default);
  box-shadow: 10px -11px 1px 7px var(--bg-main);
}

.side-nav-container
  ul
  li.side-nav-item-active:nth-child(3)
  ~ .side-nav-item-bubble {
  top: 20%;
  opacity: 1;
}

.avatar {
  height: 38px;
  width: 38px;
}

input.su-default {
  height: 50px;
  background-color: var(--light);
  border-radius: 15px;
}

input.su-default:focus-visible {
  outline: none;
}

input::placeholder {
  color: #acafb5;
  letter-spacing: 0.14px;
}

input.su-default.search-input {
  border: none;
  padding: 10px 50px;
  line-height: 2.6rem;
  width: 30vw;
  transition: width 500ms;
}

input.su-default.search-input:focus-visible {
  width: 50vw;
}

.search-input-container {
  position: relative;
}

.search-input-container::after {
  position: absolute;
  top: 30%;
  left: 15px;
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
}

.rectangle {
  border-radius: var(--border-radius-extra);
  padding: 19px 14px;
  background-color: var(--primary);
  color: white;
}

.rectangle .rectangle-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.598334px;
}

.rectangle .rectangle-body .rectangle-body-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.rectangle .rectangle-body .rectangle-body-top i {
  font-size: 1.6rem;
}

.rectangle.rectangle-banana {
  background: #ffecc8;
  box-shadow: var(--default-shadow);
}

.rectangle.rectangle-warning {
  background: var(--warning);
}

.rectangle.rectangle-danger {
  background: var(--danger);
}

.rectangle.rectangle-info {
  background: var(--info);
}

.rectangle.rectangle-outline {
  border: 1px solid #e6e5f2cf;
  color: var(--primary);
  background: white;
}

.rectangle-header {
  font-family: "Poppins";
  font-style: normal;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1.15714px;
}

.rectangle-title {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.16px;
}

.rectangle-detail {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.598334px;
  color: var(--dark);
  margin: 20px 0;
}

.rectangle-detail i {
  font-size: 20px;
}

.rectangle-detail .rectangle-valuable {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.000171429px;
}

.rectangle.rectangle-banana {
  background-image: url("./../images/banana-reactangle.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.rectangle.rectangle-banana .rectangle-body {
  max-width: 250px;
}

.rectangle.rectangle-banana .rectangle-header {
  color: #c45a01;
}

.rectangle.rectangle-banana .rectangle-body p {
  color: #bd5600;
}

.panel-main {
  width: 60%;
  display: inline-block;
}

.panel-side {
  background: var(--bg-default);
  border: 1px solid rgba(237, 237, 245, 0.602601);
  border-radius: 30px;
  display: inline-block;
  padding: 25px;
}

.su-card {
  margin-top: 2em;
  color: var(--primary);
}

.su-card.su-card-rounded {
  background: white;
  border-radius: 28px;
  padding: 2em 1.25em;
}

.su-card.su-card-rounded .su-card-body {
  margin-top: 2em;
}

.su-card:nth-of-type(1) {
  margin: 0;
}

.su-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.col-3 {
  width: 22.79%;
}

.col-6 {
  width: 47.59%;
}

.su-card-body-rounded {
  background: white;
  border-radius: 28px;
  padding: 2em 1.25em;
}

.su-card-header {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  letter-spacing: 0.769286px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 0;
}

.su-card-utils {
  display: flex;
  gap: 0.5em;
}

.su-card-header.su-card-header-large {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */

  letter-spacing: 1.02571px;
}

.su-btn {
  background: var(--light);
  border-radius: 10px;
  padding: 12px 14px;
  border: none;
  cursor: pointer;
}

.su-btn.su-btn-square {
  height: 54px;
  width: 54px;
  background: var(--primary);
  color: white;
  border-radius: 12px;
}

.su-btn.su-btn-default {
  background: var(--bg-default);
  color: var(--gray);
}

/** Switch
 -------------------------------------*/

.switch {
  height: 1.3em;
}

.switch-title {
  margin: 0 0.5em;
  line-height: 10px;
}

.switch-small .switch-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.12px;

  color: var(--dark);
}

.switch-pool input {
  position: absolute;
  opacity: 0;
}

.switch-pool {
  display: inline-block;
  height: 1.05em;
  width: 1.9em;
  background: white;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0px 1px 5px var(--primary-dark);
  position: relative;
}

.switch.switch-warning .switch-pool {
  box-shadow: 0px 1px 5px var(--warning-dark);
}

.switch.switch-danger .switch-pool {
  box-shadow: 0px 1px 5px var(--danger-dark);
}

.switch.switch-info .switch-pool {
  box-shadow: 0px 1px 5px var(--info-dark);
}

.switch .switch-pool.switch-no-shadow {
  box-shadow: none !important;
  background: var(--primary);
}

.switch .switch-pool.switch-no-shadow .switch-bubble {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(101, 101, 101, 0.332195);
}

.switch-bubble {
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background: var(--primary);
  box-shadow: 0px 1px 3px rgba(72, 72, 72, 0.422203);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
  position: absolute;
  top: 0.12em;
  left: 3px;
}

.switch.switch-warning .switch-bubble {
  background: var(--warning);
}

.switch.switch-danger .switch-bubble {
  background: var(--danger);
}

.switch.switch-info .switch-bubble {
  background: var(--info);
}

.switch-pool input:checked + .switch-bubble {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  cursor: pointer;
}

.switch-pool {
  padding: 0 0.5em;
}

.switch-pool input[type="checkbox"] {
  cursor: pointer;
}

.switch-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  height: 2em;
  width: 100%;
}

/** Switch end
--------------------------------------------- */

.avatar-card {
  width: 15%;
  text-align: center;
}

.avatar-card-photo {
  width: 4em;
  margin: auto;
}

.avatar-card-photo .avatar {
  width: 39px;
  height: 39px;
}

.avatar-card .avatar-card-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 0.6875em;
  line-height: 18px;
  /* identical to box height, or 138% */

  text-align: center;
  letter-spacing: 0.13px;
}

.avatar-card .avatar-card-info {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 0.7em;
  line-height: 18px;
  /* identical to box height, or 164% */

  letter-spacing: 0.11px;

  color: var(--gray);
}

/* utils */

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.gap-3 {
  gap: 3em;
}

.gap-4 {
  gap: 4em;
}

/* utils end */

.in-circle {
  background: var(--primary-light);
  padding: 1em;
  border-radius: 50%;
}

.in-circle i {
  color: var(--primary);
  margin: auto;
}

.oval {
  opacity: 0.8;
  max-height: 276px;
  max-width: 276px;
  height: 18em;
  width: 18em;
  mix-blend-mode: normal;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='150' ry='150' stroke='%23AB848EFF' stroke-width='25' stroke-dasharray='1.02%2c 20.73' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 150px;
}

.oval-middle {
  border-radius: 50%;
  background: #f6f5fa;
  box-shadow: inset 0px 1px 5px #82828295;
  width: 205px;
  height: 205px;
  position: absolute;
  top: 35px;
  left: 35px;
}

.oval-middle-support {
  position: absolute;
  background: white;
  width: 173.61px;
  height: 173.61px;
  border-radius: 50%;
  top: 16px;
  left: 16px;

  z-index: 10;
}

.oval-shadow {
  background: rgba(111, 92, 234, 0.316625);
  mix-blend-mode: normal;
  opacity: 0.58;
  filter: blur(51.6474px);
  height: 120%;
  z-index: 6;
}

.oval-shadow-light {
  background: #e5e5e5;
  mix-blend-mode: normal;
  opacity: 0.35;
  filter: blur(89.7033px);
  position: absolute;
  width: 100%;
  height: 219.94px;
  top: 0;
}

.oval-center {
  position: absolute;
  width: 151.13px;
  height: 151.13px;

  border: 0.915316px solid #ecebf2;
  box-shadow: inset 0px 0px 4px rgba(182, 182, 219, 0.555753);

  border-radius: 50%;

  top: 11px;
  left: 11px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: var(--dark);

  z-index: 10;
}

.oval-text {
  font-family: "Lato", "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  font-size: 37.0118px;
  line-height: 35px;
  /* identical to box height, or 94% */

  text-align: center;
  letter-spacing: 0.00026437px;
}

.oval-title {
  font-family: "Lato", "Segoe UI Symbol";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 117% */

  text-align: center;
  letter-spacing: 0.000107143px;
}

.oval-half-title {
  position: absolute;
  top: -30px;
  left: calc(50% - 5px);

  color: var(--primary);
}

.oval-quarter-title {
  position: absolute;
  top: calc(50% - 5px);
  left: -45px;

  color: var(--dark);
}
.oval-quarter-to-title {
  position: absolute;
  top: calc(50% - 10px);
  right: -45px;

  color: var(--dark);
}

.path-2 {
  position: absolute;
  top: 70%;
  height: 65px;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 4.11px;
  stroke-dasharray: 658;
  stroke-dashoffset: 0;
  animation: subzero 500ms linear forwards;
}

.oval-meter {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-90deg);
  max-width: 215px;
  max-height: 215px;
  height: 18em;
}

@keyframes subzero {
  100% {
    stroke-dashoffset: 490;
  }
}
